@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}


nav{
    background-color: #2590c0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px;
}

.logo{
    width: 250px;
    margin: 24px;
}

ul{
    display: flex;
}

.links{
    display: flex;
    color: white;
    list-style: none;
    font-weight: bold;
    padding-left: 16px;
    margin: 16px;
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px
}

.hero{
    background-color: #8066ff;
}

.hero__2{
   display: flex;
   justify-content: space-between;
   padding: 5px;
  
   
 
   
}

.img_1{
  height: 800px;
  width: 800px;
}



.Free{
    color: #8066ff;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    display: flex;
    
}

/*FORM STYLES*/

.main__form{
    width: 500px;
    background-color: white;
    border: 2px solid #f7fbff;
    box-shadow: 0 5px 12px 8px rgb(0 0 0 / 10%);
    
}
.top__form{
    
    font-weight: bold;
    background-color: #2590c0;
    padding: 16px;
     
}

.form_heading{
    color: white;
    font-size: 24px;
}

.feild{
    border: solid #dddde4;
    color: #444;
    padding: 8px;
    background-color: #f7f7f7;
    font-size: 16px;
    outline: none;

}

.form__feilds{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form__text{
    color: #444;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.main__checkbox{
  
}

.checkmark_text{
    font-weight: 700;
}

/*Test Checkbox*/

.checkbox__1 {
    position: relative;
    top: 0;
    width: 20px ;
    height: 20px;
    border: 2px solid #dfdfdf;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
}
